*.class

# Package Files #
#*.jar
*.war
*.ear
# logback.xml
.classpath
.metadata/
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
logs/
target/

# Emacs
*~
.#*

# Omni Graffle #
*(Autosaved).graffle

pom.xml.versionsBackup
sync.sh

#jRebal
rebel.xml